
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262B40;
    --text-color: #fff;
    --main-color: #59B2F4;

}

html {
font-size: 62.5%;
overflow-x: hidden;

}

body {
    background: var(--bg-color);
    color: var(--text-color);

}

section {

    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* nav bar design */

.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 2rem 9%;
background: var(--bg-color);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;

}


.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;

}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}


#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}

span{
    color: var(--main-color);
}


/* --------------------------------------------------------home design ---------------------------------------------------*/

.home {
    display: flex;
    justify-content: center;
    align-items: center;


}


.home-content h3 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;

}





.home-content h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;

}

.home-img img {
    width: 400px;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 25px; 

}

.home-content p {
    font-size: 20px;
   width: 75%;
   max-width: 100%;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);

    }
    50% {
        transform: translateY(-2.4rem);

    }
    100% {
        transform: translateY(0);

    }

}



.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;

}

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;

}

.btn:hover {
    box-shadow: none;

}



.heading {
    text-align: center;
    font-size: 4.5rem;

}

/* --------------------------------------------------------Home Design ----------------------------------------------------------------*/

/*------------------------------------------------------- About Design ----------------------------------------------------------------*/

.about {
    background: var(--snd-bg-color);
}

.about h1 {
    font-size: 48px;
    text-align: center;
    
 }


.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 30px;
    
  }

  .about-container .about-card{
    
    background: var(--bg-color);
    padding: 24px 32px 24px;
    border-radius: 64px;
    box-shadow: 0px 0px 12px #f8f8f8;
  
    
  }

  .about-card h3 {
    font-size: 28px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 900;

  }
  .about-card h4 {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 700 ;
  }
  .about-card h5 {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 700 ;
  }

  .about-card p{
    font-size: 16px;
    margin-bottom: 16px;;

  }
  
  .item {
    display: flex;
    align-items: center;  /* Centers items vertically */
    justify-content: space-between;  /* Places items at the far ends */
    width: 650px;
}

.item-4,.item-5,.item-6,.item-7, .item-8 {
    margin-bottom: 25px;
    text-align: center;
    justify-content: center;
    
}

.about-card:nth-child(1) {
    margin-bottom: 250px; /* Adjust the margin value as needed */
}

.about-card:nth-child(2) h3{
    margin-bottom: 36px;
}


/*------------------------------------------------------- About Design ----------------------------------------------------------------*/



/*--------------------------------------------------------- Skills ----------------------------------------------------------------- */
.skills h2{
   margin-bottom: 5rem;

}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10px;
}

.skills-container .skills-box {
    width: 500px; /* Fixed width */
    height: 360px; /* Fixed height (adjust as needed) */
    background: var(--snd-bg-color);
    padding: 48px 32px;
    border-radius: 32px;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    max-width: 100%;
    box-shadow: 0px 0px 4px #f8f8f8;
    
}

.skills-container .skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-box i {
        font-size: 7rem;
        color: var(--main-color)
}

.skills-box h3 {
    font-size: 2.6rem;
    margin-bottom: 30px;

}



button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: default; 
  margin-bottom: 10px;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #262B40;
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #262B40;
  transition: 0.5s;
}

button:hover::before, button:hover::after {
  transform: scale(0)
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}
/*--------------------------------------------------------- Skills ----------------------------------------------------------------- */

/* ------------------------------------------------------Portfolio ------------------------------------------------------------------*/
.portfolio{
    background-color: var(--snd-bg-color);
}
 .portfolio h1 {
    font-size: 48px;
    text-align: center;
 }

 .portfolio h2 {
    font-size: 32px;
    margin-bottom: 16px;
 }
 .portfolio h3{
 font-size:24px;
 margin-bottom: 16px;
 }

 .portfolio p {
    font-size : 20px;
    margin-bottom: 16px;

 }

 .portfolio a {

    margin-right : 8px;
    margin-bottom : 16px;
    

 }

 .essay-card {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: 1200px;
    height: 180px;
    background-color: var(--bg-color);
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
    box-shadow: 0px 0px 16px  #f8f8f8;
  }

  
  .essay-card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: var(--main-color);
    height:220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
  .essay-card:hover::before{
      transition-delay:0.2s ;
  
    transform: scale(100);
  }
  
  .essay-card:hover{
      color: #ffffff;
  
  }
/* ------------------------------------------------------Portfolio ------------------------------------------------------------------*/

/* -------------------------------------------------------Contact Design -----------------------------------------------------------*/

.contact {

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}

.contact h2 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;

}

/* -------------------------------------------------------Contact Design -----------------------------------------------------------*/


/* -------------------------------------------------------- Footer Design  ---------------------------------------------------------*/
.footer {
display: flex;
justify-content: space-between;
align-items:center;
flex-wrap: wrap;
padding: 2rem 9%;
background-color: var(--bg-color)


}

.footer-text {
font-size: 1.6rem;
text-align: center;

}

.footer-iconTop {
display: inline-flex;
justify-content: center;
align-items:center;
padding: .8rem 1rem;
background: var(--main-color);
border-radius: .8rem;
transition: .5s ease;

}

.footer-iconTop a:hover { 
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);

}


/* BREAKPOINT */

@media (max-width: 1200px) {
    html{
        font-size: 55%
    }

}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3%;
    }

    .contact {
        min-height:auto

    }

    .footer{
    padding: 2rem 3%;

    }

}

@media (max-width: 768px) {

    #menu-icon {
        display:block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

/* home content */
    .home {
        flex-direction: column;
    }
    .home-content{
        order: 2;
        
    }
    .home-content p {
       width: 100%;
    }

   
    .home-content h1 {
        font-size: 48px;
        margin-bottom: 16px;
    }
    .home-content h3 {
        font-size: 36px;
        margin-bottom: 16px;
    }

    
    .home-img img {
        height:400px;
        width: 300px;
        margin-top: 4rem;
    }
     /* home content */

    /* about content */
    .about-container {
        flex-direction: column;
        align-items: stretch;
      }
    
      .about-card {
        width: 100%;
        margin-bottom: 30px; /* Adjust spacing between cards */
      }
    
      .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;
      }
    
      .item-4,
      .item-5,
      .item-6,
      .item-7,
      .item-8 {
        margin-bottom: 15px; /* Adjust spacing between items */
      }
    
      .about-card:nth-child(1) {
        margin-bottom: 30px; /* Adjust margin for the first card */
      }
    
      .about-card:nth-child(2) h3 {
        margin-bottom: 20px; /* Adjust margin for the second card heading */
      }
    
      .about-card {
        padding: 30px; /* Adjust padding for smaller screens */
      }

     /* about content */



/* skills content */
.skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-container .skills-box {
    flex: 1 1 100%;
    margin-bottom: 20px;
    width: 75%; /* Adjust spacing between skills boxes */
  }

  .skills-box {
    padding: 24px 16px 40px; /* Adjust padding for smaller screens */
  }

  button {
    width: 100%; /* Make buttons full width */
    max-width: 200px; /* Limit max width of buttons */
  }
  /*Skills Content */

  /*E Portfolio Content */


  .essay-card {
    width: 90%; /* Adjust the width to be responsive */
    height: auto; /* Allow the height to adjust based on content */
    padding: 15px; /* Adjust padding for smaller screens */
    border-radius: 8px; /* Slightly smaller border radius */
  }

  .essay-card::before {
    top: -10px; /* Adjust position for smaller screens */
    right: -10px;
    height: 200px; /* Adjust height */
    width: 20px; /* Adjust width */
    border-radius: 28px; /* Adjust border radius */
  }
}
  /*E Portfolio Content */
